<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- Working with Traditional LookUpMethod -->

<!-- Dependent bean -->
<bean id="water" class="com.nt.beans.Water_Dependent"/>

<!-- Target bean
<bean id="human" class="com.nt.beans.Human_Target">
<constructor-arg name="beanid" value="water"/>
</bean>
-->

<!-- WORKING WITH <idref> TAG -->

<bean id="human" class="com.nt.beans.Human_Target">
<constructor-arg>
<idref bean="water"/>
</constructor-arg>
</bean>
</beans>
