<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

<!-- cfg the target class as sprigbean class -->
<bean id="shoppingstore" class="com.nt.service.ShoppingMallimpl"/>
<!-- cfg the aspect class as sprigbean class -->
<bean id="discount" class="com.nt.aspect.Discount_Coupon_aspect"/>

<!-- Enable aop  -->
      <aop:config>
      <aop:pointcut expression="execution(float com.nt.service.ShoppingMallimpl.shopping(..))"  id="ptc"/>
      <aop:aspect ref="discount">
      <aop:after-returning method="coupon" returning="billamt" pointcut-ref="ptc"/>
      </aop:aspect>     
      </aop:config>
</beans>
