<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="info" class="com.nt.beans.PlantInfo">
<property name="name" value="Snake Plant"></property>
<property name="water" value="Water Partially"></property>
<!-- <property name="sunlight" value="Shady Area"></property>
<property name="compost_ratio" value="2.1"></property> -->
</bean>
</beans>
