<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Working with C and P nameSpace-->
<bean id="dt"  class="java.util.Date" p:year="90" p:month="6" p:date="12"/>

<!-- Dependent Bean -->
<bean id="cook" class="com.nt.beans.Chef" c:name="saurav" c:jdate-ref="dt"/>

<!-- Target Bean -->
<bean id="res" class="com.nt.beans.Resturant" p:name="GanguramSweets" p:owner="Rakesh" p:location="Odisha " p:odate-ref="dt" p:chef-ref="cook"/>
<!-- Space is mandatory in between nameSpace attributes -->
</beans>
